$color-pink_1: #F16D7F;
$color-pink_2: #F26376;
$color-pink_3: #FF6A6A;
$color-pink_4: #EF5B70;
$color-white_1: #FFFFFF;
$color-white_2: #F8F8F8;
$color-white_3: #F1E4E6;
$color-white_4: #FBFBFB;
$color-white_5: #E1E1E1;
$color-white_6: #F7F7F7;
$color-white_7: #EAEAEA;
$color-white_8: #EBEBEB;
$color-white_9: #F8F3F4;
$color-white_10: #F5F3F3;
$color-white_11: #E2E2E2;
$color-gray: #222222;
$color-gray_2: #9F9F9F;
$color-gray_3: #6F6E6E;
$color-gray_4: #B1B1B1;
$color-gray_5: #A4A4A4;
$color-gray_6: #575757;
$color-gray_7: #656565;
$color-gray_8: #4A4A4A;
$color-gray_9: #4D4D4D;
$color-gray_10: #6F6E6E;
$color-black: #000000;
$box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);